In [136]:
import gpxpy
import numpy as np
import pandas as pd

In [186]:
df = pd.DataFrame(columns=['to','fr','diff'])
df1 = pd.DataFrame(columns=['to','fr','diff'])

In [187]:
gpx_file = open('activities/20170606-233749-Ride.gpx', 'r')
gpx = gpxpy.parse(gpx_file)
start_time, end_time = gpx.get_time_bounds()

In [196]:
df1['to'] = [start_time]
df1['fr'] = [end_time]
df1['diff'] = [0]

df = df.append(df1, ignore_index=True)

df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>to</th>
      <th>fr</th>
      <th>diff</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>0 days 01:13:34</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>0 days 01:13:34</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>0 days 01:13:34</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>0 days 01:13:34</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>0 days 01:13:34</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [198]:
df['diff'] = (df['fr'] - df['to'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>to</th>
      <th>fr</th>
      <th>diff</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>01:13:34</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>01:13:34</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>01:13:34</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>01:13:34</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>01:13:34</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>01:13:34</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>01:13:34</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2017-06-06 23:37:49</td>
      <td>2017-06-07 00:51:23</td>
      <td>01:13:34</td>
    </tr>
  </tbody>
</table>
</div>

In [56]:
start_time, end_time = gpx.get_time_bounds()
print('Started: %s' % (start_time))
print('Ended: %s' % (end_time))

Started: 2017-06-06 23:37:49
Ended: 2017-06-07 00:51:23